{% extends '_base.html' %}
{% load static %}

{% block content %}


    <div class="contact-area default-padding">
    
        <div class="container">
            <div class="contact-items">
                <div class="row">
                    <div class="col-lg-6 col-md-8" align="center">
                        <div class="form-items info-items" align="center">
                        <h2>Update Password</h2>
                        <p>You have successfully updated your password.</p>
                        <a href="/" class="button" type="submit"> Back to Home page</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}