{% extends '_base.html' %}
{% load static %}

{% block content %}


    <div class="contact-area m-5">
    
        <div class="container">
            <div class="contact-items default-padding">
                <div class="row">

                    <div class="col-lg-8 col-md-8 contact-box left-info">
                        <div class="form-items info-items" align="center">
                            <h2>Password Change</h2>
                            <form method="POST" action="{% url 'password_change' %}" class="login contact-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12 m-0 p-0">
                                        {% if form.errors %}
                                            {% for error in form.non_field_errors %}
                                                <div class="alert alert-error">
                                                    <!-- Prevent any HTML or JS displaying to user -->
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" id="oldpassword" name="oldpassword" placeholder="Current Password*" autocomplete="current-password" type="password" required="">
                                            {% if form.errors.oldpassword %}
                                                    <div class="form-text">{{form.errors.oldpassword}}</div>
                                            {% endif %}
                                        </div>
                                    </div>
									<div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" id="password1" name="password1" placeholder="New Password*" autocomplete="current-password" type="password" required>
                                            {% if form.errors.password1 %}
                                                    <div class="form-text">{{form.errors.password1}}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" id="password2" name="password2" placeholder="Re-type New Password*" autocomplete="current-password" type="password" required>
                                            {% if form.errors.password1 %}
                                                    <div class="form-text">{{form.errors.password1}}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="submit" name="submit" id="submit">
                                            Change Password
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}