{% extends '_base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="contact-area default-padding">
    <div class="container">
        <div class="contact-items">
            <div class="row">
                <div class="col-lg-8 col-md-8 contact-box left-info">
                    <div class="form-items info-items" align="center">
                        <h2>Sign Up</h2>
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            
                            <!-- Optional: Redirect user to the URL they were trying to access prior to logging in -->
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                            {% endif %}
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <a class="button secondaryAction" href="{{ login_url }}">Already have an account? Sign in.</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" name="submit" id="submit">Sign up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
