{% extends '_base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <div class="contact-area default-padding">
        <div class="container">
            <div class="contact-items">
                <div class="row">
                    <div class="col-lg-8 col-md-8 contact-box left-info">
                        <div class="form-items info-items" align="center">
                            <h1>Add New Password</h1>
                            <form method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <button type="submit" class="btn btn-success">Save</button>
                                <a href="{% url 'pass_list' %}" class="btn btn-secondary">Cancel</a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}